body {
  font-family: "DejaVu Sans Mono";
}


.container-lg {
  width: 70%;
  margin: auto;
}

h1 a {
  display: none;
}

h1 {
  color: blue;
}

blockquote {
  font-style: italics;
  color: #888888;
  tex-align: center;
}

.left {
  text-aligh: left;
}

