body {
  font-family: "Roboto";
  font-size: 120%;
}


.container-lg {
  width: 50%;
  margin: auto;
}

h1 a {
  display: none;
}

h1 {
  color: black;
}

blockquote {
  font-style: italics;
  color: #888888;
  tex-align: center;
}

.left {
  padding-left: 20%;
}

